body {
	background-color: #b5179e;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
	color: #4cc9f0;
    font-size: 40px;
}
p {
	color: #4cc9f0;
	background-color: #7209b7;
	font-weight: bold;
    font-size: 20px;
	padding: 15px;
	border: 10px solid #3a0ca3;
	/*margin-top: 40px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;*/

	/*margin: 40px 10px 20px 10px;*/

	margin: auto 50px;
	text-align: center;
}

a{
    color: #8e7dbe;
    font-size: 18px;
    font-weight: bold;
}
