h1 {
	text-align: center;
	color: crimson;
}
div {
	padding: 15px;
	margin: auto;
	max-width: 400px;
}
.blue_icon {
	font-size: 2.5em;
	color: cornflowerblue;
	vertical-align: middle;
}
.red_icon {
	font-size: 3em;
	color: crimson;
	vertical-align: middle;
}
